<form class="form" [formGroup]="signupForm" (ngSubmit)="onSubmitForm()">
  <app-input label="Name" [control]="name"></app-input>
  <app-input inputType="email" label="Email" [control]="email"></app-input>
  <app-input inputType="password" label="Password" [control]="password"></app-input>
  <app-input inputType="password" label="Confirm Password" [control]="confirmPassword"></app-input>

  <div
    class="form-element-wrapper error"
    *ngIf="confirmPassword?.touched && signupForm?.errors?.isNotMatched"
  >
    <span> Password and Confirm password are not matched!</span>
  </div>

  <div class="form-element-wrapper">
    <button type="submit" [disabled]="!signupForm.valid">Submit</button>
  </div>
</form>
